include README.md
include LICENSE
include CHANGELOG.md
recursive-include smcp_security *.py
recursive-include examples *.py
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
